@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --fonts-roboto: 'Roboto', sans-serif;
    --primary-color: #555555;
    --secondary-color: #E0E0E0;
    --tertiary-color: #AEAEAE;
    --lightblue: #3D5AFE;
}